<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Mussum Ipsum, cacilds vidis litro abertis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!Mé faiz elementum girarzis, nisi eros vermeio.Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (xx) xxxx-xxxx</li>
                <li><i class="fa-brands fa-whatsapp"></i> (xx) xxxxx-xxxx</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>